# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:1C - Stretch Armstrong
*       @SalesforceCommerceCloud/stretch-armstrong